* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .App {
    padding: 50px 20px;
  }
  .user-input {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;
    box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
    padding: 12px;
    color: rgb(20, 30, 55);
    background: none;
  }
  .suggestions-list {
    list-style: none;
    padding: 0;
    max-height: 160px;
    overflow-y: auto;
    max-width: 250px;
  }
  .suggestion {
    background-color: rgb(226, 181, 181);
    padding: 10px;
    color: rgb(65, 65, 65);
    cursor: pointer;
  }
  .suggestion:hover {
    background-color: rgba(238, 238, 238, 0.1);
  }
  .selected {
    background-color: rgb(69 152 222);
    color: rgb(238, 223, 223);
}
  