
    .currency-autocomplete-main{
         display: grid;
    gap: 4px 16px;
    grid-auto-flow: column;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr);
    grid-template-rows: auto [input-row-start] auto [input-row-end] auto; 

    }

    .curreny-convertor-amt-boxt{
        width: 100%;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 6px;
        box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
        padding: 12px;
        color: rgb(20, 30, 55);
        background: none;
    }
    .currency-convertor-main{
        /* display: grid;
        gap: 4px 16px;
        grid-auto-flow: column;
        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr);
        grid-template-rows: auto [input-row-start] auto [input-row-end] auto; */
    
    }
    
   .row{margin-right: -15px;
    margin-left: -15px
}           

.col-md-4{    position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
width: 33.33333333%;
float: left;
}

.col-md-12{    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    float: left;
    }

    .currency-result{
        margin-top:200px;
    }